/* F:\Muse Operations Drive\Projects\Flowdometer\force-app\main\default\lwc\flowdometerInstructions\flowdometerInstructions.css */
/* @import '@salesforce-ux/design-system/dist/styles/salesforce-lightning-design-system.css'; */

/* Adjust the modal size */
.c-modal {
    max-width: 90%; /* or any specific size */
    max-height: 90%; /* or any specific size */
}

.vertical-line {
    width: 1px;
    background-color: #ccc;
    height: 100%;
    position: absolute;
    right: 0;
}

/* Existing .responsive-iframe class */
.responsive-iframe {
    border: none; /* Remove border */
    width: 100%;
    height: 100%;
}

.responsive-iframe iframe {
    width: 100%;
    height: 100%;
    border: none; /* remove dark border */
}

/* Style for the modal iframe */
iframe {
    border: none;
}

.icon-wrapper {
    display: flex;
    align-items: center;
}

.vertical-line {
    width: 1px;
    background-color: #ccc;
    height: 24px; /* Adjust the height as needed */
    margin-left: 8px;
}
