/* F:\Muse Operations Drive\Projects\Flowdometer\force-app\main\default\lwc\flowdometerInstructions\flowdometerInstructions.css */
@import "@salesforce-ux/design-system/dist/styles/salesforce-lightning-design-system.css";

/* Making iframe responsive */
.responsive-iframe {
  border: none;
  width: 100%;
  height: 0;
  padding-bottom: 83.33%; /* Aspect Ratio (500/600) * 100 = 83.33% */
  position: relative;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Add styling for the completed tiles */
.slds-welcome-mat__tile_complete {
  background-color: rgba(0, 128, 0, 0.2); /* green with 20% opacity */
}

/* Style for the incomplete tiles */
.slds-welcome-mat__tile {
  background-color: rgba(255, 165, 0, 0.2); /* orange with 20% opacity */
  transition: all 0.3s ease-in-out; /* smooth transition for hover effects */
}

/* Add hover effect */
.slds-welcome-mat__tile:hover {
  background-color: rgba(255, 165, 0, 0.4); /* darker orange with 40% opacity */
  cursor: pointer;
}

/* Additional styles for title and description */
.slds-welcome-mat__tile-title {
  font-weight: bold;
}

.slds-welcome-mat__tile-description {
  font-size: 0.9em;
}

/* Style for the modal iframe */
iframe {
  border: none; /* remove the default border */
}
